<h1><%= @team.name %></h1>
<div class="row">
  <% @developers.each do |dev| %>
    <div class="col s12 m6 l4">
      <div class="dev-card">
        <div class="dev-card-content">
          <%= link_to dev.name, [@team, dev] %>
          <%== dev.git_graph_html %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <%= link_to 'Add', new_team_developer_path(@team), class: "btn btn-block btn-secondary" %>
</div>
