<div class="column is-6">
  <div class="box is-fullwidth datapanel medium">
    <header class="level">
    <div class="level-left">
      <p class="title is-5">
        <span class="icon has-medium-text"><i class="fa fa-medium"></i></span> Couldn't find <%= @developer.github_user.name %> on Medium, add his/her username below!
      </p>
    </div>
    <div class="level-right">
    </div>
    </header>
    <hr>

    <div class="level">
      <div class="level-item has-text-centered">
        <%= link_to edit_team_developer_path([@team, @developer]), class: "button is-secondary" do %>
          <span class="icon"><i class="fa fa-edit"></i></span> Add
        <% end %>
      </div>
    </div>
  </div>
</div>
