<div class="box">
<article class="media">
  <figure class="media-left">
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= p[:title] %></strong>
        <br>
        <%= p[:subtitle] %>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
      </div>
    </nav>
  </div>
  <div class="media-right">

  </div>
</article>
</div>
<br>
