<h1>Product Class '18</h1>
<div class="row">
  <% @developers.each do |dev| %>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="dev-card">
        <div class="dev-card-content">
          <%= link_to dev.name, dev %>
          <%== dev.git_graph_html %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <%= link_to 'Add', new_developer_path, class: "btn btn-block btn-secondary" %>
</div>
