<h1>Product Class '18</h1>
<div class="row">
  <% @developers.each do |dev| %>
    <div class="col-md-6 col-xs-12">
      <div class="card">
        <div class="card-header text-xs-center">
          <%= link_to dev.name, dev %>
        </div>
        <div class="card-block">
          <%== dev.git_graph_html %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <%= link_to 'Add', new_developer_path %>
</div>
