<h1>Add a new developer</h1>

<%= form_for [@team, @developer] do |dev| %>
  <p><%= dev.text_field :name, placeholder: "Name", class: "form-control" %></p> 
  <p><%= dev.text_field :username, placeholder: "GitHub Username", class: "form-control" %></p>
  <%= dev.submit "Add", class: "btn btn-default" %>
<% end %>
