<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="card is-fullwidth has-text-centered">
      <h1 class="title card-form-header">Add a New Developer</h1>
      <div class="card-content">
        <%= form_for [@team, @developer] do |dev| %>
          <p class="control"><%= dev.text_field :username, placeholder: "GitHub Username", class: 'input' %></p>
          <p class="control"><%= dev.submit "Add", class: "button is-primary is-outlined" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
