<h1 class="text-xs-center">Overview: <%= @developer.name %></h1>
<div class="row quickinfo">
  <div class="col-xs-4">
    Github Profile:
  </div>
  <div class="col-cs-8">
    <a href="https://github.com/<%= @developer.username %>" target=_blank><%= @developer.username %></a>
  </div>
</div>
<a href="<%= developers_url %>" class="btn btn-primary">Back</a>