<section>
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title"><b>Overview: <%= @developer.github_user.name ? @developer.github_user.name : @developer.github_user.login %></b></h1>
      </div>
      <div class="column has-text-centered">
        <%= link_to team_path(@team), class: "button is-primary is-outlined" do %>
          <span class="icon"><i class="fa fa-chevron-left"></i></span> Back to <%= @team.name %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<br>
<section>
  <div class="container">
    <%= render @developer.github_user %>
  </div>
</section>
