<div class="card is-fullwidth">
  <header class="card-header">
    <p class="card-header-title">
      Overview: <%= @developer.name %>
    </p>
  </header>
  <div class="card-content">
    <%== @developer.git_graph_html %>
  </div>
  <footer class="card-footer">
    <%= link_to "Back", team_path(@team), class: "card-footer-item" %>
    <a href="https://github.com/<%= @developer.username %>" target=_blank class="card-footer-item">Github Profile</a>
  </footer>
</div>
