<div class="box is-fullwidth">
  <header class="level has-text-centered">
    <p class="title is-5">
      <span class="icon has-primary-text"><i class="fa fa-institution"></i></span> Instructor Recommendation:
    </p>
  </header>
  <div class="level has-text-left">
    <%= simple_format @developer.instructor_recommendation %>
  </div>
</div>
