<aside class="column is-2 aside hero is-fullheight is-hidden-mobile" id="sidenav">
  <div>
    <div class="sidenav">
      <div class="title is-4 has-text-centered">Overview</div>
      <div class="menu">
        <p class="menu-label">Your Teams</p>
        <ul class="menu-list">
          <li><a href="">Product Class 18</a></li>
          <li><a href="">Summer Academy 16</a></li>
          <li><a href="">Summer Academy 17</a></li>
          <li><a href="">Procuct College Applicants</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>