<aside class="column is-2 aside hero is-fullheight is-hidden-mobile" id="sidenav">
  <div>
    <div class="sidenav">
      <div class="title is-4 has-text-centered">Overview</div>
      <div class="menu">
        <% if logged_in? %>
          <p class="menu-label">Hey <%= user.name %></p>
          <ul class="menu-list">
            <li><a href="/">Settings</a></li>
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
        <% else %>
        <% end %>
        <p class="menu-label">Your Teams</p>
        <ul class="menu-list">
          <% user.teams.each do |team| %>
            <li><%= link_to team.name, team %></li>
          <% end %>
          <li><%= link_to 'Add a new Team', new_team_path %></li>
        </ul>
      </div>
    </div>
  </div>
</aside>