<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="card is-fullwidth">
      <div class="card-content has-text-centered">
        <h4 class="title">It looks like this team isn't yours.</h4>
        <h5>Are you logged in with the correct account?</h5>
        <br>
        <%= link_to "Back to your teams", root_path, class: "button is-primary" %>
      </div>
    </div>
  </div>
</div>