<div class="error-wrapper center">
  <h4>It looks like this team isn't yours.</h4>
  <h5>Are you logged in with the correct account?</h5>
  <%= link_to "Back to your teams", teams_path, class: "button is-primary" %>
</div>