<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Dev Audit</h1>
      <div class="row center">
        <h5 class="header col s12 light">Keep track your your applicants side projects.</h5>
      </div>
      <div class="row center">
        <%= link_to "Start NOW!", signup_path, class: "btn waves-effect wave-light" %>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Easier Recruitment</h5>

            <p class="light">Get an overview of all your potential recruits by providing some basic info about them. We will do all the hard work of researching and compiling everything.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Detailed Summary</h5>

            <p class="light">Get an in-depth summary of each developer, for example: How often do they push code? Is their code tested? Which languages and frameworks do they use? Do they publish articles?</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">Our easy to navigate and minimalistic design makes work a joy - no clutter, just the information you want and need to see!</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>