<section class="hero is-light-violet">
  <div class="hero-body">
    <h1 class="title has-text-centered">Welcome to > dev status_</h1>
    <div class="has-text-centered">
      <h5 class="subtitle">Keep track your your applicants side projects.</h5>
    </div>
    <br>
    <br>
    <div class="has-text-centered">
    <% if logged_in? %>
      <%= link_to "Create a new Team!", new_team_path, class: "button is-primary is-large" %>
    <% else %>
      <%= link_to "Start tracking NOW!", signup_path, class: "button is-primary is-large" %>
    <% end %>
    </div>
  </div>
</section>
<br>
<div class="container">
<!--   Icon Section   -->
<div class="columns">
  <div class="column">
    <div class="icon-block has-text-centered box datapanel primary">
      <div class="content">
        <h2 class="subtitle"><span class="icon"><i class="fa fa-bolt"></i></span></h2>
        <h5 class="subtitle"><b>Easier Recruitment</b></h5>

        <p class="light">Get an overview of all your potential recruits by providing some basic info about them. We will do all the hard work of researching and compiling everything.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="icon-block has-text-centered box datapanel primary">
      <div class="content">
        <h2 class="subtitle"><span class="icon"><i class="fa fa-cog"></i></span></h2>
        <h5 class="subtitle"><b>No More Busywork</b></h5>

        <p class="light">Stop searching on dozens of sites for your recruiteses activity. DevStat pulls all of that into one, centralized plae. Get back to concentrating on the important things!</p>
      </div>
    </div>
  </div>

  <div class="column">
      <div class="icon-block has-text-centered box datapanel primary">
        <div class="content">
          <h2 class="subtitle"><span class="icon"><i class="fa fa-users"></i></span></h2>
          <h5 class="subtitle"><b>Detailed Summary</b></h5>

          <p class="light">Get an in-depth summary of each developer, for example: How often do they push code? Is their code tested? Which languages and frameworks do they use? Have they written any articles?</p>
        </div>
      </div>
    </div>
  </div>
