<section class="hero is-light">
  <div class="hero-body">
    <h1 class="title has-text-centered">Welcome to > git status_</h1>
    <div class="has-text-centered">
      <h5 class="subtitle">Keep track your your applicants side projects.</h5>
    </div>
    <br>
    <div class="has-text-centered">
    <% if logged_in? %>
      <%= link_to "Create a new Team!", new_team_path, class: "button is-primary" %>
    <% else %>
      <%= link_to "Start NOW!", signup_path, class: "button is-primary" %>
    <% end %>
    </div>
  </div>
</section>

<div class="container">
<!--   Icon Section   -->
<div class="columns">
  <div class="column">
    <div class="icon-block has-text-centered box">
      <div class="content">
        <h2 class="subtitle"><span class="icon"><i class="fa fa-bolt"></i></span></h2>
        <h5 class="subtitle"><b>Easier Recruitment</b></h5>

        <p class="light">Get an overview of all your potential recruits by providing some basic info about them. We will do all the hard work of researching and compiling everything.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="icon-block has-text-centered box">
      <div class="content">
        <h2 class="subtitle"><span class="icon"><i class="fa fa-cog"></i></span></h2>
        <h5 class="subtitle"><b>Easy to work with</b></h5>

        <p class="light">Our easy to navigate and minimalistic design makes work a joy - no clutter, just the information you want and need to see!</p>
      </div>
    </div>
  </div>

  <div class="column">
      <div class="icon-block has-text-centered box">
        <div class="content">
          <h2 class="subtitle"><span class="icon"><i class="fa fa-users"></i></span></h2>
          <h5 class="subtitle"><b>Detailed Summary</b></h5>

          <p class="light">Get an in-depth summary of each developer, for example: How often do they push code? Is their code tested? Which languages and frameworks do they use? Have they written any articles?</p>
        </div>
      </div>
    </div>
  </div>
