<section class="hero is-light">
  <div class="hero-body">
    <h1 class="title has-text-centered">Dev Audit</h1>
    <div class="has-text-centered">
      <h5 class="subtitle">Keep track your your applicants side projects.</h5>
    </div>
    <br>
    <div class="has-text-centered">
    <% if logged_in? %>
      <%= link_to "Create a new Team!", new_team_path, class: "button is-primary" %>
    <% else %>
      <%= link_to "Start NOW!", signup_path, class: "button is-primary" %>
    <% end %>
    </div>
  </div>
</section>

<div class="container">
<!--   Icon Section   -->
<div class="columns">
  <div class="column">
    <div class="icon-block has-text-centered card">
      <div class="card-content">
        <h2 class="subtitle"><i class="material-icons">flash_on</i></h2>
        <h5 class="subtitle">Easier Recruitment</h5>

        <p class="light">Get an overview of all your potential recruits by providing some basic info about them. We will do all the hard work of researching and compiling everything.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="icon-block has-text-centered card">
      <div class="card-content">
        <h2 class="subtitle"><i class="material-icons">group</i></h2>
        <h5 class="subtitle">Detailed Summary</h5>

        <p class="light">Get an in-depth summary of each developer, for example: How often do they push code? Is their code tested? Which languages and frameworks do they use? Have they written any articles?</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="icon-block has-text-centered card">
      <div class="card-content">
        <h2 class="subtitle"><i class="material-icons">settings</i></h2>
        <h5 class="subtitle">Easy to work with</h5>

        <p class="light">Our easy to navigate and minimalistic design makes work a joy - no clutter, just the information you want and need to see!</p>
      </div>
    </div>
  </div>
</div>
