<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="card is-fullwidth has-text-centered">
      <h1 class="title card-form-header">Error: 500</h1>
      <div class="card-content has-text-centered">
        <p>Something went wrong on our part... Feel free to open a bug report via the link at the bottom of the sidebar.</p>
      </div>
    </div>
  </div>
</div>
