<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="box is-fullwidth has-text-centered">
      <h1 class="title card-form-header">Error: 404</h1>
      <div class="card-content has-text-centered">
        <p>There doesn't seem to be anything here, but don't worry, the grass is always greener somewhere else...</p>
      </div>
    </div>
  </div>
</div>
