//Fonts
.title {
  font-family: 'Roboto Condensed', $family-sans-serif;
}

// Cards

.card-form-header {
  padding-top: 8px;

  text-decoration: underline;
  text-decoration-color: $primary;
}

.card-header {
  background-color: black;
}

.card-header-title {
  color: $white;
}

// Datapanel

.datapanel {
  padding-top: 24px;
  border-radius: 0 0 10px 10px;

  .logo {
    font-size: 16px;
  }
}

.primary {
  box-shadow: inset 0 8px 0 0 $primary, 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.twitter {
  box-shadow: inset 0 8px 0 0 $twitter, 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.github {
  box-shadow: inset 0 8px 0 0 #000, 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.medium {
  box-shadow: inset 0 8px 0 0 $medium, 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

// Colors

.has-primary-text {
  color: $primary;
}

.has-twitter-text {
  color: $twitter;
}

.has-github-text {
  color: #000;
}

.has-medium-text {
  color: $medium;
}
