#topnav {
  background-color: $primary;

  padding: 5px 5px 0 5px;

  .title {
    color: $white;
  }

  span {
    background-color: $white;
  }
}

div#nav-toggle.nav-toggle:hover {
  background-color: $primary;
}

#sidenav {
  background-color: rgb(102, 64, 119);
  @include filter-gradient(#664077, #2c7a6c, horizontal);
  @include background-image(linear-gradient(left top, rgba(102, 64, 119, 1) 0%, rgba(91, 39, 112, 1) 40%, rgba(44, 122, 108, 1) 100%));
  margin-right: -10px;
  margin-top: 10px;

  position: fixed;

  .title {
    color: $white;

    margin-top: 8px;
  }
}

.menu-list a.is-active {
  background-color: $panel-background;

  border: $white solid 1px;
}

.menu {
  margin-left: 16px;

  .menu-label {
    color: $light-grey;
  }

  .menu-list {
    a {
      color: $white;
    }

    a:hover {
      color: $primary;
    }
  }
}

#footer {
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
  }
}
