#topnav {
  background-color: $primary;

  padding: 5px 5px 0 5px;

  .title {
    color: $white;
  }

  span {
    background-color: $white;
  }
}

div#nav-toggle.nav-toggle:hover {
  background-color: $primary;
}

#sidenav {
  background-color: $primary;
  margin-right: -10px;
  margin-top: 10px;

  position: fixed;

  .title {
    color: $white;

    margin-top: 8px;
  }
}

.is-active {
  border: $white solid 1px;
}

.menu {
  margin-left: 16px;

  .menu-label {
    color: $light-grey;
  }

  .menu-list {
    a {
      color: $white;
    }
  }
}

#footer {
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
  }
}
