#sidenav {
  margin-right: -10px;
  background-color: #420f69;

  .title {
    margin-top: 8px;

    color: #fff;
  }
}

.menu {
  margin-left: 16px;

  .menu-label {
    color: #bbb;
  }

  .menu-list {
    a {
      color: #eee;
    }
  }
}