// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hired-status {
  margin-top: 16px;
}

.tag.is-success.is-outlined {
  background-color: transparent;
  color: #23d160;
  border: #23d160 1px solid;
}

.tag.is-danger.is-outlined {
  background-color: transparent;
  color: #ff3860;
  border: #ff3860 1px solid;
}
