$primary: #0d5309;
$secondaty: #db580a;

$light-grey: #eee;
$white: #fff;

$family-sans-serif: 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
