$primary: #4E0061;
$secondary: #db580a;

$panel-background: rgba(1, 1, 1, .4);

$light-grey: #eee;
$white: #fff;

$family-sans-serif: 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$twitter: #1da1f2;

$medium: #00ab6c;
