<footer class="has-text-centered white-text" id="footer">
  <p><a href="https://github.com/luhagel/dev-audit/issues/new" target="_blank">Found a bug? Click me!</a></p>
  <p>© 2016 Luca Hagel | > dev version: <%= ENV["HEROKU_RELEASE_VERSION"]%></p>
</footer>
