<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="box is-fullwidth has-text-centered">
      <h1 class="title is-2">It looks like this team isn't yours.</h1>
      <div class="content has-text-centered">
        <h5>Are you logged in with the correct account?</h5>
        <br>
        <%= link_to "Back to your teams", root_path, class: "button is-primary is-outlined" %>
      </div>
    </div>
  </div>
</div>
